build/bitbake.lock
build/conf/local.conf
build/conf/sanity_info
build/local.settings
build/manifest
build/oe
build/oeenv
build/pseudodone
build/cache
build/sstate-cache
build/tmp-glibc
build-output/*
.config
