Package: xc-switcher
Version: 1-1
Maintainer: Citrix Systems <customerservice@citrix.com>
Section: XenClient
License: GPLv2
Installed-Size: @SIZE@
Architecture: all
Depends: make, libc6 (>= 2.9), autoconf, pkg-config, gcc, libtool, zlib1g-dev, libx11-dev, libatk1.0-dev, libcairo2-dev, libdbus-1-dev, libdbus-1-dev, libdbus-glib-1-dev, libdbusmenu-glib-dev, libfreetype6-dev, libglib2.0-dev, libgtk2.0-dev, libpango1.0-dev, libpixman-1-dev, libpng-dev, libappindicator-dev, libnotify-dev, xc-tools
Priority: optional
Description: XenClient in-guest switcher.
 XenClient linux in-guest software.
