<?xml version="1.0" encoding="utf-8"?>
<WinbuildConfig>
  <!-- Important you leave this be! -->
  <RebootCount>0</RebootCount>
  <!-- Override locations if you want -->
  <LogDir></LogDir>
  <HelperDir></HelperDir>
  <!-- Set these URLs to ones that make sense for you... -->
  <HelperURL>https://raw.githubusercontent.com/OpenXT/openxt/master/windows/mkbuildmachine/</HelperURL>
  <CygwinSrc>https://www.cygwin.com/setup-x86.exe</CygwinSrc>
  <CygwinMirror>http://www.mirrorservice.org/sites/sourceware.org/pub/cygwin/</CygwinMirror>
  <NSISSrc>http://prdownloads.sourceforge.net/nsis/nsis-2.46-setup.exe</NSISSrc>
  <NSISZip>http://prdownloads.sourceforge.net/nsis/nsis-2.46-log.zip</NSISZip>
  <WinDDK701>\\stove.cam.xci-test.com\xc_dist\winbuild\Version001\WinDDK.7.1.0\unpacked</WinDDK701>
  <DotNet45>http://download.microsoft.com/download/B/A/4/BA4A7E71-2906-4B2D-A0E1-80CF16844F5F/dotNetFx45_Full_setup.exe</DotNet45>
  <SQLSCE32>http://download.microsoft.com/download/0/5/D/05DCCDB5-57E0-4314-A016-874F228A8FAD/SSCERuntime_x86-ENU.exe</SQLSCE32>
  <SQLSCE64>http://download.microsoft.com/download/0/5/D/05DCCDB5-57E0-4314-A016-874F228A8FAD/SSCERuntime_x64-ENU.exe</SQLSCE64>
  <VS2012P>http://download.microsoft.com/download/1/3/1/131D8A8C-95D8-41D4-892A-1DF6E3C5DF7D/vs_premium.exe</VS2012P>
  <SDKWin8>\\stove.cam.xci-test.com\xc_dist\winbuild\Version001\SDK_WDK_Win8\SDK</SDKWin8>
  <WDKWin8>\\stove.cam.xci-test.com\xc_dist\winbuild\Version001\SDK_WDK_Win8\WDK</WDKWin8>
  <Wix>"WixURLisNowHardcodedInInstall-wix.ps1"</Wix>
  <CAPICOM>http://download.microsoft.com/download/7/7/0/7708ec16-a770-4777-8b85-0fcd05f5ba60/capicom_dc_sdk.msi</CAPICOM>
  <VS2012U4>http://download.microsoft.com/download/D/4/8/D48D1AC2-A297-4C9E-A9D0-A218E6609F06/VSU4/VS2012.4.exe</VS2012U4>
  <MSMSrc>\\stove.cam.xci-test.com\xc_dist\winbuild\Version001\visual_studio_2005_MSM\MSM_files\*</MSMSrc>
  <!-- These are the steps taken to create a build machine -->
  <Steps>
    <Step name="cygwin" helper="install-cygwin.ps1">
      <Run execute="true" command="Powershell">
        <Parameters>
          <Param>HelperDir</Param>
          <Param>CygwinSrc</Param>
          <Param>CygwinMirror</Param>
        </Parameters>
      </Run>
    </Step>
    <Step name="NSIS" helper="install-nsis.ps1">
      <Run execute="true" command="Powershell">
        <Parameters>
          <Param>HelperDir</Param>
          <Param>NSISSrc</Param>
          <Param>NSISZip</Param>
        </Parameters>
      </Run>
    </Step>
    <Step name="WinDDK-7.1.0" helper="install-winddk-7.1.0.ps1">
      <Run execute="true" command="Powershell">
        <Parameters>
          <Param>HelperDir</Param>
          <Param>WinDDK701</Param>
        </Parameters>
      </Run>
    </Step>
    <Step name="Configure" helper="winbuild-configure.ps1">
      <Run execute="true" command="Powershell">
        <Parameters>
          <Param>HelperDir</Param>
        </Parameters>
      </Run>
    </Step>
    <Step name="REBOOT" />
    <Step name="DotNet4.5" helper="install-framework-45.ps1">
      <Run execute="true" command="Powershell">
        <Parameters>
          <Param>HelperDir</Param>
          <Param>DotNet45</Param>
        </Parameters>
      </Run>
    </Step>
    <Step name="REBOOT" />
    <Step name="SQL Server Compact 4 x32" helper="install-SQLSCE32.ps1">
      <Run execute="true" command="Powershell">
        <Parameters>
          <Param>HelperDir</Param>
          <Param>SQLSCE32</Param>
        </Parameters>
      </Run>
    </Step>
    <Step name="REBOOT" />
    <Step name="SQL Server Compact 4 x64" helper="install-SQLSCE64.ps1">
      <Run execute="true" command="Powershell">
        <Parameters>
          <Param>HelperDir</Param>
          <Param>SQLSCE64</Param>
        </Parameters>
      </Run>
    </Step>
    <Step name="REBOOT" />
    <Step name="VS2012P" helper="install-vs2012P.ps1">
      <Run execute="true" command="Powershell">
        <Parameters>
          <Param>HelperDir</Param>
          <Param>VS2012P</Param>
        </Parameters>
      </Run>
    </Step>
    <Step name="MSMS" helper="install-msms.ps1">
      <Run execute="true" command="Powershell">
        <Parameters>
          <Param>MSMSrc</Param>
        </Parameters>
      </Run>
    </Step>
    <Step name="REBOOT" />
    <Step name="SDKWin8" helper="install-sdk-win8.ps1">
      <Run execute="true" command="Powershell">
        <Parameters>
          <Param>HelperDir</Param>
          <Param>SDKWin8</Param>
        </Parameters>
      </Run>
    </Step>
    <Step name="REBOOT" />
    <Step name="WDKWin8" helper="install-wdk-win8.ps1">
      <Run execute="true" command="Powershell">
        <Parameters>
          <Param>HelperDir</Param>
          <Param>WDKWin8</Param>
        </Parameters>
      </Run>
    </Step>
    <Step name="REBOOT" />
    <Step name="Wix" helper="install-wix.ps1">
      <Run execute="true" command="Powershell">
        <Parameters>
          <Param>HelperDir</Param>
          <Param>Wix</Param>
        </Parameters>
      </Run>
    </Step>
    <Step name="REBOOT" />
    <Step name="CAPICOM 2.1.0.2" helper="install-capicom.ps1">
      <Run execute="true" command="Powershell">
        <Parameters>
          <Param>HelperDir</Param>
          <Param>CAPICOM</Param>
        </Parameters>
      </Run>
    </Step>
    <Step name="VS2012 Update 4" helper="install-VS2012U4.ps1">
      <Run execute="true" command="Powershell">
        <Parameters>
          <Param>HelperDir</Param>
          <Param>VS2012U4</Param>
        </Parameters>
      </Run>
    </Step>
    <Step name="REBOOT" />
  </Steps>
</WinbuildConfig>
